$white: #ffffff;
$black: #000000;

$text-color: #283136;
$header-color: #eeeeee;

$acient: #fb565a;
$social: #e1e1e1;

$button-background: #fb565a;
$button-hover-background: #e74246;
$button-active-background: #d7373b;

$button-green-background: #00ca74;
$button-green-hover-background: #00bc6c;
$button-green-active-background: #00aa62;

$button-yellow-background: #efc84a;
$button-yellow-hover-background: #eab534;
$button-yellow-active-background: #e5a722;

$button-gray-background: #eeeeee;
$button-gray-hover-background: #dfdfdf;
$button-gray-active-background: #d5d5d5;
$button-gray-active-shadow: #bfbfbf;
$button-gray-active-border: #dbdbdb;

$form-field: #4d4d4d;
$form-color: #231f20;

$tablet-width: 768px;
$desctop-width: 1088px;
$mobile-width-only: 767px;